<!---WIP-->
<html>

<head>
    <title>GO Terms</title>
    <script src="js/vis.min.js"></script>
    <link rel="stylesheet" href="css/vis.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="js/index.js"></script>
    <script>
        var sequences = {{ sequences }}
        var go_network = {{ go_network }}    
    </script>
    <style>
        .legend {
            list-style: none;
        }
        .legend span {
            border: 1px solid #ccc;
            float: left;
            width: 14px;
            height: 14px;
            margin: 4px;
        }
    </style>
</head>

<body>
    <div class='container'>
        <h1>GO Term visualization for <span id='sequence'></span></h1>
    </div>
    <div id="loader" class="center"></div>
    <div id="network"></div>
    <div style="position: fixed; bottom: 0; right:10px;">
        <ul class="legend">
            <li><span style="background-color: #007bff; "></span> root</li>
            <li><span style="background-color: #28a745; "></span> original GO Terms</li>
            <li><span STYLE="background-color: #17a2b8;"></span> parental GO Terms</li>
        </ul>
    </div>
    <script src="jsBackground/vis.js"></script>
</body>

</html>
